<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Day10HomeAssignment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.hsbc.assignment.prac_1.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintName</display-name>
    <servlet-name>PrintName</servlet-name>
    <servlet-class>com.hsbc.assignment.prac_2.PrintName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintName</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Methods</display-name>
    <servlet-name>Methods</servlet-name>
    <servlet-class>com.hsbc.assignment.prac_3.Methods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Methods</servlet-name>
    <url-pattern>/method</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MethematicOperation</display-name>
    <servlet-name>MethematicOperation</servlet-name>
    <servlet-class>com.hsbc.assignment.challenge.MethematicOperation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MethematicOperation</servlet-name>
    <url-pattern>/operation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormProcessing</display-name>
    <servlet-name>FormProcessing</servlet-name>
    <servlet-class>com.hsbc.assignment.prac_4.FormProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormProcessing</servlet-name>
    <url-pattern>/formProcessing</url-pattern>
  </servlet-mapping>
</web-app>